*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    /*font-size: 10px;*/
}

header{
    /*width: 35%;*/
    height: 10%;
    flex: 1;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.nav-bar .left{
    display: flex;
    align-items: center;
    width: 40%;
    gap: 1rem;
}

.nav-bar .right{
    width: 25%;
    margin: 5px;
}

.nav-bar .right .nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 3rem
}


header a, header img{
    width: 30%;
    height: 100%;
    flex: 1;
}

header .left img{
    width: 100%;
    height: 100%;
}

.nav-bar{
    display: flex;
}

.left .nav-list {
    display: flex;
    justify-content: space-around;
    flex: 2;
    list-style: none;
}

.nav-list li a, .global-footer__links , .global-footer__links a{
    list-style: none;
    text-decoration: none;
    color: #737373;
}


/*FOOTER*/
.global-footer-container{

}
.global-footer{
    width: 100%;
}
.global-footer__links{
    display: flex;
    gap: 2rem;
}

/*Styles from the outside*/

a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #00c2ff;;
}

/* Presentational styles */
a {
    color: #54b3d6;
    font-family: 'Poppins', sans-serif;

    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
}